@model IEnumerable<WebDevExam.Enrollment>
    @using WebDevExam.Helper

@{
    ViewBag.Title = "Danh sách sinh viên đăng ký";
    Course course = ViewBag.Course as Course;
    HelperClass helper = new HelperClass();
}

<h3>Danh sách sinh viên đăng ký học phần : @course.Title</h3>

<table class="table table-striped">
    <tr>
        <th>
            Grade
        </th>
        <th>
            Student
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    Student stemp = helper.getStudentByID((int)item.StudentID);
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Grade)
        </td>
        <td>
            @stemp.LastName @stemp.FirstName
        </td>
        <td>
            <a href="@Url.Action("Edit", "Enrollment", new { id=item.EnrollmentID })">Cập nhật thông tin</a> |
            <a href="@Url.Action("Delete", "Enrollment", new { id=item.EnrollmentID })">Xóa khỏi danh sách</a>
        </td>
    </tr>
}

</table>
